<h1><%= @product.name %></h1>
<h4><strong>Cost: $</strong><%= @product.cost %></h4>
<h4><strong>Country of Origin: </strong><%= @product.country %></h4>

<%= link_to 'Update Product', edit_product_path(@product), class: 'btn btn-warning' %>
<%= link_to 'Delete Product', product_path(@product), class: 'btn btn-danger', :data => { :confirm => 'You sure?', :method => 'delete' }%>
<br><hr>

<% @product.reviews.each do |review| %>
  <p><strong><%= review.rating %> stars</strong></p>
  <p><%= review.author %> on <%= review.created_at %>
  <p><%= review.content_body %></p>
  <hr>
<% end %>

<%= render :partial => 'reviews/new' %>